<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController as navCtrl">
    <div class="container">
        <div class="navbar-header row">
            <img src="img/logo.png" alt="logo" />
            <button ng-click="openForm()" class="btn">Nuevo Turno</button>
            <!-- TODO add style to justify content
            <!-- <div class="col-6-xs text-left">
            </div>
            <div class="col-6-xs text-right">
            </div> -->
        </div>
    </div>
</nav>