<ng-include src="'../pages/partials/navbar.html'"></ng-include>
<div class="container inicio">
    <div class="form-group">
        <h2 class="text-center">NUEVO TURNO</h2>
        <label for="specialitySelector">Selecciona una especialidad:</label>
        <select class="form-control" id="specialitySelector" ng-model="selectedSpecialty" ng-change="onSpecialtyChange()">
            <option value="" disabled selected>-</option>
            <option ng-repeat="especialidad in formCtrl.especialidades" 
                    value="{{especialidad.esp_id}}">
                {{especialidad.especialidad_medica}}
            </option>
        </select>
        <select ng-if ></select>
    </div>

</div>
<ng-include src="'../pages/partials/footer.html'"></ng-include>